body {
    margin: 0px;
    /*overflow-x: hidden;*/
    cursor: url(img/cursor.png), auto;
    background-color: #1c1c1c;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

#streep1 {
    height: 1300px;
    position: fixed;
    width: 2px;
    background-color: #f5e8db;
    z-index: 0;
    left: 30%;
    opacity: 10%;
}
#streep2 {
    height: 270%;
    position: fixed;
    width: 50px;
    border: 2px solid #f5e8db;
    z-index: 0;
    left: 50%;
    top: -800px;
    opacity: 10%;
    transform: rotate(90deg);
}


/*Sectie 1*/

#sectie1 {
    width: 500px;
    height: 650px;
    border-radius: 20px 0 0 20px;
    background-color: #f5e8db;
    margin-right: 10px;
    overflow-y: hidden;
    z-index: 10;
    box-shadow: 0px 22px 88px -30px rgba(0,0,0,0.75);
}

#sectie1 div {
    overflow: hidden;
    padding-top: 100px;
    position: relative;
}

#sectie1 #texture1{
    border-radius: 20px 0 0 20px;
    opacity: 30%;
    mix-blend-mode: color-burn;
    position: absolute;
    pointer-events: none;
    z-index: 5;
    margin-top: -100px;
    margin-left: 0px;
    width: inherit;
    overflow: hidden;
    height: 750px;
}

#sectie1 img {
    width: inherit;
    overflow: hidden;
    border-radius: 20px 0 0 20px;
    height: 650px;
}


/*Buro 1*/

#buro_1 {
    width: 500px;
    position: relative;
    margin-top: -170px;
    transition: all 1.2s ease-in-out;
    
}

#buro_1 * {
    fill: #1c1c1c;
    transition: all 1.2s ease-in-out;
    
}

.rood * {
    fill: #ff1f1f !important;
    transition: all 1.2s ease-in-out;
    
}

.rood {
    margin-top:56px !important;
    transition: all 1.2s ease-in-out;
    transform: scaleX(-1) rotate(180deg);
}

.zwart * {
    fill: #1c1c1c !important;
    transition: all 1.2s ease-in-out;
}

/*Buro 2*/

#buro_2 {
    width: 500px;
    position: relative;
    transition: all 0.2s ease-in-out;
    margin-top: -1.2px;
}

#buro_2 * {
    fill: #ff1f1f;
    transition: all 0.5s ease-in-out;
}

/*Norm*/

#norm {
    width: 400px;
    position: absolute;
    bottom: 60px;
    left: 50px;
    pointer-events: none;
    z-index: 4;
}

#norm * {
    fill: #ff1f1f !important;
}


/*Internationale*/

#sectie1 p {
    font-size: 2em;
    position: absolute;
    margin-left: 130px;
    margin-top: 30px;
    line-height: 1em;
    text-align: right;
    font-family: 'Oswald', sans-serif;
    color: #ff1f1f;
}


/*Sectie 2*/

#sectie2 {
    width: 870px;
    height: 650px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 22px 88px -30px rgba(0,0,0,0.45);
/*    background-image: url(img/paper-horizontal.jpg);
    background-size: 1200px;
    backface-visibility: 10%;*/
}

#sectie2 #texture2 {
    opacity: 30%;
    mix-blend-mode: color-burn;
    position: absolute;
    pointer-events: none;
    z-index: 10;
    width: 870px;
    height: 650px;
    border-radius: 20px;
    overflow: hidden;
}

#sectie2 #texture2 img {
    width: 960px;
    border-radius: 20px;
    height: 650px;
    z-index: 1;
}

#sectie2 #texture3 {
    opacity: 100%;
    mix-blend-mode: normal;
    position: absolute;
    pointer-events: none;
    z-index: 1;
    width: 870px;
    height: 650px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #1c1c1c;
}

#sectie2 #texture3 img {
    width: 960px;
    border-radius: 20px;
    height: 650px;
    opacity: 40%;
    z-index: 10;
}

#sectie2 p {
    font-size: 0.5em;
    color: #ff1f1f;
    font-family: 'Teko', sans-serif;
    margin: 0;
}

.grid-container-1 {
    display: grid;
    grid-template-columns: auto auto;
    width: 430px;
    margin-right: 10px;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: auto auto;
    width: 430px;
}


/*Blokjes*/
.blokje {
    margin-bottom: 10px;
    margin-right: 10px;
    border: 0.5px solid #5e5e5e;
    border-radius: 20px;
    height: 210px;
    width: 210px;
    overflow: hidden;
    opacity: 1;
    z-index: 1;
}

.blokje div {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    color: #FFF;
}

.blokje-tekst div {
    background-color: #f5e8db;
    font-size: 50px;
    line-height: 1.0;
    padding: 20px;

}

.blokje div img {
    width: 207px;
    mix-blend-mode: color-burn;
}



/*Dit word toegevoegd*/
.animatie div {
    background-color: #f5e8db;
    transform: translateY(-212px);
    opacity: 1 !important;
}


/*Up icons*/
.up-icon {
    width: 20px;
    position: inherit;
    pointer-events: none;
    opacity: 0;
    display: block;
    left: 7em;
    margin: 200px auto 0 auto;
}
.up-icon-show {
    opacity: 1 !important;
}


/*Mobile*/

@media (max-width: 1400px) {
    main {
        display: block;
        margin-bottom: 60px;
    }
    body {
        display: flex;
        justify-content: center;
    }
    #sectie1 {
        margin-top: -100px;
        border-radius: 20px;
    }
    #sectie1 img {
        border-radius: 20px;
    }
    #sectie2 {
        display: block !important;
        overflow: hidden !important;
        margin-top: 50px;
        width: 500px;
        height: 1520px;
        border-radius: #edd6d1;
    }
    grid-container-1 {
        overflow: none;
    }
    grid-container-2 {
        overflow: none;
    }
    #norm {
        width: 400px;
        top: 70px;
    }
    .blokje {
        width: 245px;
        height: 245px;
    }
    #sectie2 #texture2, #sectie2 #texture3 {
        height: 1520px;
        width: 100%;
        overflow: hidden;
    }
    #sectie2 #texture2 img, #sectie2 #texture3 img{
        width: 500px;
        height: 1520px;
    }
    .blokje div img {
        width: 245px;
        margin-top: 5px;
    }
    .blokje-tekst div {
        height: 250px;
    }
    .animatie div {
        transform: translateY(-212px);
    }
    .up-icon {
        opacity: 1;
    }
    .blokje div {
        opacity: 0;
    }
    p {
        font-size: 0.6em;
    }
    #streep1 {
        margin-top: -150px;
    }
}
